// lib
@import "variable";
// lib


.g-modal{
  overflow: auto;
  _overflow: hidden;
  position: fixed;
  _position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-overflow-scrolling: touch;
  outline: 0;


  .modal-dialog{
    position: relative;
    z-index: 2;
    width: 480px;
    margin: 100px auto;
    overflow: hidden;
    border-radius:6px;
  }

  .modal-hd{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 15px;
    background-color: #6592d7;
    color: #fff;
    font-weight: 400;
  }

  .modal-bd{
    background-color: #fff;
    padding: 20px 20px 10px;
    p{
      font-size: 14px;
      color: #333;
    }
    .info{

      color: #333;
      margin-bottom:20px;
    }
    .info-center{
      text-align: center;
    }
  }

  .close{
    @include background(dialog-close,$sprite);
    width: 30px;
    height: 29px;
    position: absolute;
    right:15px;
    top: 10px;
    display: block;
    line-height:120px;
    overflow: hidden;
    font-size: 0;
  }

}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:1;
  background-color: #000;
  opacity: 0.5;
  filter:alpha(opacity=50);
}


.g-loader{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index:900;
  background-color: #000;
  opacity: 0.5;
  filter:alpha(opacity=50);
}
