<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>智联推广售卖平台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <!-- build:js scripts/ie.js -->
    <script src="../scripts/ie/es5-shim.js"></script>
    <script src="../scripts/ie/json3.js"></script>
    <!-- endbuild -->
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <script src="../scripts/lib/jquery.js"></script>
    <script src="../scripts/lib/terrific-2.0.2.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/scripts.js -->
    <script src="../scripts/app.js"></script>
    <!-- endbuild -->

    <style>
        .g-md-box .bd p{
        margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="g-main">
    <div class="g-md-box">
        <div class="hd">
            按钮
        </div>
        <div class="bd">

            <p>
                g-btn <a href="#" class="g-btn">g-btn</a>
                g-btn btn-sm <a href="#" class="g-btn btn-sm">g-btn</a>
            </p>

            <p>
                g-btn btn-primary <a href="#" class="g-btn btn-primary">g-btn</a>
                g-btn btn-primary btn-sm <a href="#" class="g-btn btn-primary btn-sm">g-btn</a>
            </p>

            <p>
                g-btn btn-default <a href="#" class="g-btn btn-default">g-btn</a>
                g-btn btn-default btn-sm <a href="#" class="g-btn btn-default btn-sm">g-btn</a>
            </p>

            <p>
                g-btn btn-success <a href="#" class="g-btn btn-success">g-btn</a>
                g-btn btn-success btn-sm <a href="#" class="g-btn btn-success btn-sm">g-btn</a>
            </p>

        </div>
    </div>


    <div class="g-modal" style="position: static">
        <div class="modal-dialog">
            <div class="modal-hd">提示</div>
            <div class="modal-bd">
                <div class="info">您目前还没有可推广的职位，请尽快发布职位。</div>
                <div class="g-md-btncont">
                    <a href="/products.do" class="g-btn">确 定</a>
                </div>
            </div>
        </div>
    </div>

    <div class="g-md-box">
        <div class="hd">
            状态
        </div>
        <div class="bd">
            <p>
                g-mk-status
                    <span class="g-mk-status">
                        等待推广
                    </span>
                g-mk-status
                    <span class="g-mk-status">
                        等待推广
                        <i class="g-mk-triangle"></i>
                    </span>
            </p>

            <p>
                g-mk-status status-waiting
                    <span class="g-mk-status status-waiting">
                        等待推广
                    </span>
                g-mk-status status-waiting
                    <span class="g-mk-status status-waiting">
                        等待推广
                        <i class="g-mk-triangle"></i>
                    </span>
            </p>

            <p>
                g-mk-status status-pay
                <span class="g-mk-status status-pay">
                    等待推广
                </span>
                g-mk-status status-pay
                <span class="g-mk-status status-pay">
                    等待推广
                    <i class="g-mk-triangle"></i>
                </span>
            </p>

            <p>
                g-mk-status status-success
                <span class="g-mk-status status-success">
                    等待推广
                </span>
                g-mk-status status-success
                <span class="g-mk-status status-success">
                    等待推广
                    <i class="g-mk-triangle"></i>
                </span>
            </p>

            <p>
                g-mk-status status-cancel
                <span class="g-mk-status status-cancel">
                    等待推广
                </span>
                g-mk-status status-cancel
                <span class="g-mk-status status-cancel">
                    等待推广
                    <i class="g-mk-triangle"></i>
                </span>
            </p>

            <p>
		        <span class="g-mk-tooltip">
                    有效期3个月
                    <i class="g-mk-triangle tooltip-triangle"></i>
                    <i class="g-mk-triangle tooltip-triangle-back"></i>
                </span>
            </p>

        </div>
    </div>

    <div class="g-md-box">
        <div class="hd">
            分页
        </div>
        <div class="bd">

            <div class="p-md-pager" style="text-align:center">
                <a href="#" title=" 上一页 ">
                    <i class="icon-prev"></i>
                </a>
                <a href="#" title="第 1 页">1</a>
                <a href="#" title="第 2 页">2</a>
                <a href="#" title="第 3 页">3</a>
                <a href="#" title="第 4 页" class="active">4</a>
                …
                <a href="#" title="第 10 页">10</a>
                <a href="#" title="第 11 页">11</a>
                <a href="#" title=" 下一页 ">
                    <i class="icon-next"></i>
                </a>
            </div>

        </div>
    </div>

</div>

</body>
</html>
