.container {
	width:786px;
	height:430px;
	margin:6px auto 30px;
	background:url(http://img00.zhaopin.cn/2014/money/images/sell_login_bg.jpg) no-repeat;
}

.content {
  width:602px;
  height:262px;
  margin:0 auto;
  padding-top:137px;
  h2{
    font:500 22px/50px "微软雅黑";
    height:50px;
    color:#fff;
    background:#51A7E9;
    border-radius:5px 5px 0 0;
    padding-left:25px;
  }
}

.login_style {
  background:#fff;
  height:120px;
  border-radius: 0 0 5px 5px;
  padding:40px 0 0 89px;
}
.rd_login,.ipin_login {
  background:url(http://img00.zhaopin.cn/2014/money/images/login_btn.png) no-repeat;
  display: inline-block;
  width:194px;
  height:51px;
  font-size: 0;
}
.rd_login:hover {
  background-position:left -53px;
}
.ipin_login {
  background-position:left -111px;
  margin-left:30px;
}
.ipin_login:hover {
  background-position:left -164px;
}
.foot {
  height:55px;
  border-top:2px solid #3584C9;
  width:100%;
  p{
    width:786px;
    margin:0 auto;
    font-size:12px;
    color:#2D2D2D;
    text-align:center;
    line-height:55px;
    font-family:"微软雅黑";
  }
}